<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Flask2/style/index.css">
</head>
<body>
    <center>
        <h2>Repositorio</h2>
        <form action="/cadastrar" method="POST">
            <label for="">Nome: </label>
            <input type="text" placeholder="Nome do produto"><br><br>
            <label for="">Preço: </label>
            <input type="number" placeholder="Preço do produto"><br><br>
            <label for="">Descrição: </label> <br>
            <textarea name="" id="" placeholder="Descrição do produto"></textarea>
            <hr>
            <button>Enviar</button>
        </form>
        <h2>Produtos cadastrados: </h2>

        {% if prod %}
        <ul>
            {% for produtos in prod %}
            <li>
               <strong>Nome produto: {{produtos.nome_prod|capitalize}}</strong> Preço: {{produtos.preco}} <br> Descrição: {{produtos.desc|capitalize}}
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>Nenhum produto cadastrado</p>
        {% endif %}
    </center>
</body>
</html>