<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/rack_cesar/static/home.css" />
  </head>
  <body>
    <!-- Aba lateral -->
    <main class="sidebar">
      <img src="/rack_cesar/fotos/Logo(tema claro).png" alt="Logo" />
      <div class="itens_aba"></div>
    </main>

    <!-- Aba central -->
    <section class="content">
      <h2>Bem-vindo!</h2>
    </section>
  </body>
</html>
